In [46]:
### Tools used for clean up
import numpy as np
import pandas as pd

In [47]:
#linux_p = "/home/joey/Desktop/File_Clean_Up/uncleaned/TOA5_2879.ts_data.dat"
#path = 'http://35.12.130.8/study/2018-SERDP/10_ckd_burn07_2018/TOA5_2879.ts_data.dat'
path = "http://35.12.130.8/study/2018-SERDP/10_ckd_burn07_2018/"
file = "TOA5_4976.ts_data.dat"

In [48]:

skipper= int(input("How many title rows are there in the file?:"))
df=pd.read_csv(path+file, sep= "\t", header=None, skiprows=skipper, na_values='NAN')
value = input("What value to use for NaN values? ex: (999):")
df.fillna(value=value, inplace=True)
    
print("DateFile loaded:")
print(df.head())

### Atempting to find the intial starting points 

first_colm = df[0]
for i in range(len(first_colm)):
    if  len(first_colm[i])>8:
        intial = first_colm[i]
        break
### Parcing them to be useable
inital_list = intial.replace("/", ",").replace(":",",").replace(" ",",")
inital_list = inital_list.split(",")

print("First time stamp: (MM/DD/YYY hr:min) :",intial)

How many title rows are there in the file?:5
What value to use for NaN values? ex: (999):999
DateFile loaded:
               0       1      2      3      4    5      6      7      8   \
0         20:21.6  347435  11.74  21.03  20.65  999  21.91  21.54  20.72
1         20:21.7  347436  11.95  21.01  20.57  999  21.81  21.57  20.70
2         20:21.8  347437  12.44  21.04  20.56  999  21.90  21.69  20.72
3         20:21.9  347438  12.91  21.03  20.62  999  22.00  21.66  20.69
4  5/9/2018 10:20  347439  13.07  21.04  20.66  999  22.14  21.80  20.72

      9      10     11     12     13     14     15
0  21.95  21.23  21.31  20.03  20.41  18.30  17.38
1  21.92  21.05  20.94  19.82  20.27  18.33  17.40
2  21.94  20.81  20.73  19.67  20.18  18.28  17.49
3  21.99  20.68  20.53  19.59  20.14  18.23  17.52
4  22.23  20.68  20.45  19.54  20.19  18.22  17.51
First time stamp: (MM/DD/YYY hr:min) : 5/9/2018 10:20

In [86]:
###    Year Column    ####
print("Year Pulled:",inital_list[2])
correct_year=input("Is this the correct year? (y/n):")
if correct_year.lower()== "y":
    year_list = np.full((len(df)),inital_list[2])
if correct_year.lower() != "y":
    year= input("What is the correct year? :")
    year_list = np.full((len(df)),year)

###   Month Column   ####
print("Month Pulled:",inital_list[0])
correct_month=input("Is this the correct month? (y/n):")
if correct_month.lower() == "y":
    month_list = np.full((len(df)),int(inital_list[0]))
if correct_month != "y":
    month= input("What is the correct month? :")
    month_list = np.full((len(df)),int(month))
    
###     Day Column    ####
print("Day Pulled :",inital_list[1])
correct_day=input("Is this the correct day? (y/n):")
if correct_day.lower() == "y":
    day_list = np.full((len(df)),int(inital_list[1]))
if correct_day != "y":
    day= input("What is the correct day? :")
    day_list = np.full((len(df)),day)
    
###     Time Step     ####
step=input("Is the time step 10 per second? (y/n):")
if step.lower() == "y":
    steps_sec = 10
if step.lower() != "y":
    steps_sec = float(input("How many observations per second: (##)"))
    
###    Hour inital     ###
print("Starting hour pulled:",inital_list[3])
correct_hour=input("Is this the correct start hour? (y/n):")
if correct_hour.lower() == "y":
    hour_i=float(inital_list[3])
if correct_hour != "y":
    hour_i= float(input("What is the correct start hour? (##):"))

###    Second inital    ####    
second_i = round(float(df[0][1].split(":")[1])-1/steps_sec,2)    
print("Second Start:", second_i)    
correct_second=input("Is this the correct starting second? (y/n):")
if correct_second.lower() == "y":
    second_i=second_i
if correct_second != "y":
    second_i= input("What is the correct start hour? (##.#):")
    
###    Minute inital    #####
min_i = float(df[0][1].split(':')[0])   
print("Minute Start:", min_i)    
correct_min=input("Is this the correct starting minute? (y/n):")
if correct_min.lower() == "y":
    min_i=min_i
if correct_min != "y":
    min_i= float(input("What is the correct start minute? (##):"))

Year Pulled: 2018
Is this the correct year? (y/n):y
Month Pulled: 5
Is this the correct month? (y/n):y
Day Pulled : 9
Is this the correct day? (y/n):y
Is the time step 10 per second? (y/n):y
Starting hour pulled: 10
Is this the correct start hour? (y/n):y
Second Start: 21.6
Is this the correct starting second? (y/n):y
Minute Start: 20.0
Is this the correct starting minute? (y/n):y

In [158]:
###    Creating the columns for seconds, minutes, and hours   ######
counter = []
for i in range(len(df)):
    counter.append(df[1][i]-df[1][0])
    
seconds,seconds_lst, minutes, hours = list(np.zeros(len(df))), list(np.zeros(len(df))), list(np.zeros(len(df))),list(np.zeros(len(df)))
t_list= list(np.zeros(len(df)))
for i in range(len(counter)):
    t_list[i] = str((round((float(counter[i])*(1/steps_sec)),2)))
    seconds[i]=(round((float(counter[i])*(1/steps_sec)+second_i),2))

for i in range(len(df)):
    value= seconds[i]-(seconds[i]//60)*60
    seconds_lst[i] = str(round(value, 2))

for i in range(len(df)):
    value = (seconds[i]//60+min_i)
    minutes[i] = int(value-(value//60)*60)
        
for i in range(len(df)):
    value = (seconds[i]//3600 + hour_i)
    hours[i] = int(value-(value//60)*60)
for i in range(len(counter)):
    counter[i] = str(counter[i])

#print(counter)
####    Write create the new df   ####
df_write = pd.DataFrame()
df_write["#"] = counter
df_write["t_0"] = t_list
df_write["YYYY"] = year_list
df_write["MM"] = month_list
df_write["DD"] = day_list
df_write["Hour"] = hours
df_write["Min"] = minutes
df_write["Sec"] = seconds_lst

df_write["MM"] = df_write['MM'].map("{:02d}".format)
df_write["DD"] = df_write['DD'].map("{:02d}".format)
df_write["Min"] = df_write['Min'].map("{:02d}".format)
df_write["Hour"] = df_write['Hour'].map("{:02d}".format)
df_write["#"] =df_write["#"].str.zfill(len(counter[-1]))
df_write["Sec"] = df_write['Sec'].str.zfill(4)
df_write["t_0"] = df_write['t_0'].str.zfill(7)

column_headers= ["#","t_0","YYYY","MM","DD","Hour","Min","Sec"]
df_1 = pd.read_csv(path+file, sep= "\t",skiprows =1)
column_headers= column_headers + list(df_1.columns)[2:]

for i in range(2,(len(df.columns))):
    df_write[i+7] = df[i]

df_write.columns=column_headers
print("Cleaned dataframe:")
print(df_write.head())
print(df_write.columns)

Cleaned dataframe:
       #      t_0  YYYY  MM  DD Hour Min   Sec Temp_C(1)  Temp_C(2)  ...  \
0  00000  00000.0  2018  05  09   10  20  21.6     11.74      21.03  ...
1  00001  00000.1  2018  05  09   10  20  21.7     11.95      21.01  ...
2  00002  00000.2  2018  05  09   10  20  21.8     12.44      21.04  ...
3  00003  00000.3  2018  05  09   10  20  21.9     12.91      21.03  ...
4  00004  00000.4  2018  05  09   10  20  22.0     13.07      21.04  ...

   Temp_C(5) Temp_C(6)  Temp_C(7)  Temp_C(8)  Temp_C(9) Temp_C(10) Temp_C(11)  \
0      21.91     21.54      20.72      21.95      21.23      21.31      20.03
1      21.81     21.57      20.70      21.92      21.05      20.94      19.82
2      21.90     21.69      20.72      21.94      20.81      20.73      19.67
3      22.00     21.66      20.69      21.99      20.68      20.53      19.59
4      22.14     21.80      20.72      22.23      20.68      20.45      19.54

   Temp_C(12)  Temp_C(13)  Temp_C(14)
0       20.41       18.30       17.38
1       20.27       18.33       17.40
2       20.18       18.28       17.49
3       20.14       18.23       17.52
4       20.19       18.22       17.51

[5 rows x 22 columns]
Index(['#', 't_0', 'YYYY', 'MM', 'DD', 'Hour', 'Min', 'Sec', 'Temp_C(1)',
       'Temp_C(2)', 'Temp_C(3)', 'Temp_C(4)', 'Temp_C(5)', 'Temp_C(6)',
       'Temp_C(7)', 'Temp_C(8)', 'Temp_C(9)', 'Temp_C(10)', 'Temp_C(11)',
       'Temp_C(12)', 'Temp_C(13)', 'Temp_C(14)'],
      dtype='object')

In [159]:
read=['observation (#)' ,'time from start(t_list)', 'Year (YYYY)','month (MM)','Day (DD)','Hour','Min','Sec']
read +=list(df_write.columns[7:])

with open("read_me.txt", "w") as output:
    output.write("Column_headers"+ str(read))

In [160]:
### Time to save the cleaned file ###
file_name =  file[:-4]+'_cleaned.txt'
df_write.to_csv(file_name, sep='\t', index=False, header=False)

In [ ]:
file_path = 'http://35.12.130.8/study/2018-SERDP/10_ckd_burn07_2018/TOA5_2879.ts_data.dat'
print(file_path.split("/")[-1][:-4])

In [ ]:
save_path = "/home/joey/Desktop/File_Clean_Up/Burn_7/"
df_write.to_csv(save_path+file_name, sep='\t', index=False, header=False)

In [92]:
v=5.10000
#print('{ 6.2f}'.format(00000.00000))
#print("{0:0=2}".format(v))

In [133]:
str(v).zfill(4)

'05.1'